@charset "UTF-8";

/* 
________________________
________________________
VARIABLES
________________________
________________________ */

:root {
  /* Color values */
  --color-background: rgba(255, 255, 255, 1);
  --color-text: rgba(0, 0, 0, 1);
  --color-text-link: rgba(0, 0, 255, 0.8);
  --color-text-link-hover: rgba(0, 0, 255, 0.4);
  /* Font values */
  --font-family: sans-serif;
  --font-size: 22px;

  /* Margin values */
  --margin: 1rem;

  --font-size-heading: calc(var(--font-size) * 2);
  --font-size-subheading: calc(var(--font-size) * 1.25);
  --font-size-caption: calc(var(--font-size) * 0.875);

  --margin-xs: calc(var(--margin) * 0.5);
  --margin-s: calc(var(--margin) * 1);
  --margin-m: calc(var(--margin) * 2);
  --margin-l: calc(var(--margin) * 3);
  --margin-xl: calc(var(--margin) * 5);
}

/* 
________________________
________________________
GENERAL STYLES
________________________
________________________ */

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  position: relative;
  background-color: var(--color-background);
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  width: 100%;
  height: auto;
  overflow-y: auto;
}

a {
  color: var(--color-text-link);
  text-decoration: underline;
}

a:hover {
  color: var(--color-text-link-hover);
  text-decoration: underline;
}

h1 {
  font-size: var(--font-size);
  font-weight: 400;
}

p {
  /* paragraph style */
}

ol,
ul {
  list-style: none;
  /* ordered list and unordered list styles */
}

blockquote {
  /* blockquote element style */
}

hr {
  /* horizontal rule style */
}

/* 
________________________
________________________
PAGE STYLES
________________________
________________________ */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  padding: var(--margin);
}

/* navigation */

nav {
  position: fixed;
  /* padding: var(--margin-s); */
  /* width: 100vw;
  top: 0;
  left 0;
  background-color: white; */
}

main {
  /* min-height: 100vh; */
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: var(--margin-xs);
  align-content: start;
  min-height: 100vh;

  padding-top: var(--margin-m);
  padding-bottom: var(--margin-m);
}

main > section {
  padding: var(--margin-xs);
  grid-column: span 4;
  background-color: lightgrey;
  align-self: self-start;
}

/* UTILITY CLASSES */

/* WEBSITE MEDIA QUERIES */

/* responsive typeface for various breaking points, sets the default 'rem' value */
@media (max-width: 1200px) {
  :root {
    --font-size: 22px;
  }

  main > section {
    grid-column: span 8;
  }
}

@media (max-width: 600px) {
  main > section {
    grid-column: span 16;
  }
}
